@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url("static/pxfuel.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.area {
    position: absolute;
    cursor: pointer;
}

.title {
    position: absolute;
    top: 25vh;
    text-align: left;
    left: 10vh;
    backdrop-filter: blur(2px);
    padding: 2%;
}

.title h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: 0px 0px 5px black;
    font-size: 8vh;
}

.title p {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    color: rgb(226, 174, 234);
    text-shadow: 0px 0px 5px black;
    font-size: 16px;
    text-align: center;
}

.ear {
    top: 46vh;
    left: 85vh;
    height: 13vh;
    width: 12vh;
}

.ear2 {
    top: 46vh;
    left: 129vh;
    height: 13vh;
    width: 12vh;
}

.eyes {
    top: 43vh;
    left: 98vh;
    height: 9vh;
    width: 30vh;
}

.nose {
    top: 52vh;
    left: 108vh;
    height: 4vh;
    width: 10vh;
}

.mouth {
    top: 56vh;
    left: 108vh;
    height: 5vh;
    width: 10vh;
}

.cheeks {
    top: 52vh;
    left: 118vh;
    height: 10vh;
    width: 8vh;
    border-radius: 50%;
}

.cheeks2 {
    top: 52vh;
    left: 100vh;
    height: 10vh;
    width: 8vh;
    border-radius: 50%;
}

.bow-tie {
    top: 12vh;
    left: 95vh;
    height: 25vh;
    width: 37vh;
}

.neck {
    top: 63vh;
    left: 108vh;
    height: 8vh;
    width: 10vh;
}

#yuki {
    position: absolute;
    height: 85vh;
    left: 64vh;
    top: 2vh;
}

#half_body {
    position: absolute;
    height: 22.41vh;
    left: 65vh;
    top: 87vh;
    z-index: -1;
}

.text-box {
    position: absolute;
    padding: 2%;
    width: 80%;
    height: 28vh;
    top: 70vh;
    left: 10%;
    border: white 5px solid;
    border-radius: 10px;
    background-color: rgba(90, 124, 227, 0.67);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.806);
}